@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

/* common styles */
.btn {
    color: #FFF;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 600;
    padding: 20px 25px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
}

.txt {
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
}

section {
    padding: 0 140px;
}

/* ---------------header part------------------ */
header {
    padding: 50px 140px;
    width: auto;
    background: rgba(255, 144, 14, 0.10);
}

nav {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoTxt {
    color: #131313;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #424242;
    text-decoration: none;
    line-height: 26px;
    font-weight: 500px;
    font-size: 18px;
}

.headerContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.bannerTitle {
    width: 55vw;
    color: #131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin-top: 100px;
}

.bannerDesc {
    width: 55vw;
    margin: 32px 0;
    text-align: center;
}

.bannerImgContainer {
    width: 100%;
    margin-top: 50px;
}

.bannerImg {
    width: 100%;
}

/* ---------------feature part--------------  */
#feature {
    padding: 85px 140px;
}

.featureContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background-color: blue; */
}

.featureImage {
    width: 270px;
}

.featurePart1 {
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.featurePart2 {
    width: 35%;
}

.featureDesc {
    margin: 24px 0 32px;
}

.s1 {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.s2 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.s3 {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

/* ------------batch------------ */
#batch {
    padding: 85px 140px;
}

.batchContainer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.batchTitle {
    color: #131313;
    font-size: 40px;
    font-weight: 700;
    padding-left: 20px;
    border-left: 5px solid #FF900E;
}

.batchDesc {
    margin: 24px 0 32px;
    line-height: normal;
    font-size: 14px;
}

.bDesc {
    font-size: 14px;
    line-height: normal;
    margin-top: 10px;
}

.batchContent {
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.bTitle {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}

.batchImg {
    width: 500px;
}

.batch {
    border-radius: 8px;
    background: #FF900E;
    padding: 45px;
    color: white;
    text-align: center;
    width: auto;
    border: none;
}

.h {
    font-size: 40px;
    font-weight: 700;
}

.s {
    font-size: 25px;
}

/* .batchPart2 {
    position: relative;
} */

.batch {
    position: relative;
    top: -150px;
    left: -20px;
}







/* ----------------------responsive web design-------------------- */
/* extra large------------ */
@media screen and (max-width: 1280px) {
    .bannerTitle {
        width: auto;
    }

    .bannerDesc {
        width: auto;
    }
}

/* large--------------------- */
@media screen and (max-width:1024px) {

    header,
    #feature {
        padding: 50px 100px;
    }

}

@media screen and (max-width: 820px) {
    header {
        padding: 20px 50px;
    }

}

/* mediam---------------------------- */
@media screen and (max-width: 768px) {
    .featureContainer {
        flex-direction: column;
    }

    .featurePart2 {
        width: 100%;
        text-align: center;
    }
}

/* small----------------------------------- */
@media screen and (max-width: 425px) {

    header,
    #feature {
        padding: 20px 10px;
    }

    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logoTxt {
        font-size: 8vw;
    }

    nav ul {
        gap: 10px;
    }

    .bannerTitle {
        font-size: 10vw;
        width: auto;
        margin-top: 20px;
    }

    .bannerDesc {
        margin: 20px 0;
        font-size: 12px;
        line-height: normal;
        width: auto;
    }

    .bannerImgContainer {
        margin-top: 20px;
    }

    .headerBtn {
        font-size: 1rem;
        width: 100%;
    }

    .featureImage {
        width: 150px;
    }

    .featureTitle {
        font-size: 25px;
    }

    .featureBtn {
        width: 100%;
    }
}


@media screen and (max-width: 320px) {

    header {
        padding: 20px 10px;
    }


    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logoTxt {
        font-size: 10vw;
    }

    nav ul {
        gap: 10px;
    }

    .bannerTitle {
        font-size: 12vw;
        width: auto;
        margin-top: 20px;
    }

    .bannerDesc {
        margin: 20px 0;
        font-size: 12px;
        line-height: normal;
        width: auto;
    }

    .bannerImgContainer {
        margin-top: 20px;
    }

    .headerBtn {
        font-size: 1rem;
        width: 100%;
    }
}